@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="label label-danger">Error.</h1>
<h2 class="label label-danger">An error occurred while processing your request.</h2>
