@model VideoRentalStore.Web.ViewModels.ExternalLoginListViewModel

<h4>Use another service to login.</h4>
<hr />
@{
    <div>
        <p>
            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support logging in via external services.
        </p>
    </div>
}
